.content-wrapper {
    margin: 40px 100px;
}

.projectList {
    width: 50%;
    padding: 50px;
    background-color: black;
    height: 100vh;
}

.createProject {
    /*position: absolute;
    top: 80px;
    right: 50px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*border-radius: 8px;*/
    padding: 2px 5px;
    /*box-shadow: 2px 2px 10px grey;*/
}

.createProject p {
    text-transform: lowercase;
    /*color: white;*/
    padding: 5px;
    font-family: sans-serif;
}

.createProject a{
    text-decoration: none;
}

.sorter {
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    border: 2px solid green;
    border-radius: 5px 5px 0 0;
    background: green;
    color: white;
}

.sorter p {
    margin: 0;
    display: inline-block;
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 15px 2px;
}

.sortButton {
    border: 2px solid green;
}

.sortme {
    display: flex;
    align-items: center;
    padding: 0 5px;
}
