.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

h2 {
  height: auto;
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

.splash-buttons-container {
  height: 80%;
  min-height: 350px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.splash-button {
  height: 100px;
  width: 55%;
  max-width: 300px;
  margin: 60px auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  background: none;
}

.splash-button:hover {
  cursor: pointer;
}
