.message-preview-text {
  display: inline-block;
  width: 190px;
  font-size: 12px;
  line-height: 1.5rem;
}

.message-content {
  width: 90%;
  margin: 10px auto;
  padding: 5px 8px;
  background: #FCFCFC;
  border-radius: 5px 5px 5px 5px;
}

.bold {
  font-size: 14px;
  color: mediumaquamarine;
  font-weight: bolder;
}

.message-button-container {
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
