.project{
  border: 2px solid green;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 10px;
  position: relative;
  height: 200px;
}

.cardTitle{
  width: 100%;
  text-align: left;
  padding: 5px 50px;
  background-color: green;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardTitle p{
  font-weight: 100;
  display: inline-block;
  margin-right: 250px;
}

.cardTitle h3{
  font-weight: 500;
  margin: 0;
  display: inline-block;
}

.projectImage {
  height: 196px;
  width: 250px;
  padding-top: 31px;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-left: 2px solid green;

}

.projectImage img{
  height: auto;
  width: 90%;
}

.projectInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

.mainProjectDescription {
  text-align: left;
  font-family: sans-serif;
  display: flex;
  width: 100%;
  margin-right: 100px;
  height: 100%;
}

.mainProjectDescription p{
  display: inline-block;
  flex-basis: 60%;
  color: black;
  padding: 20px;
}

.mainProjectDescription ul{
  display: inline-block;
  flex-basis: 20%;
}

.projectCategory {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

h4 {
  display: inline-block;
  margin: 5px;
  text-decoration: none;
}

.roles {
  height: 126px;
  padding: 20px;
  border-left: 1px solid grey;
}

.roles h4{
  margin: 0;
}

.roles ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.roles li {
  color: grey;
}
