.project{
  border: 2px solid green;
  border-radius: 3px;
  margin-top: 2px;
  margin-bottom: 10px;
  position: relative;
  height: 200px;
}

.cardTitle{
  letter-spacing: .2rem;
  width: 100%;
  font-weight: 500;
  text-align: left;
  /*text-transform: uppercase;*/
  margin: 0;
  padding: 5px 50px;
  background-color: green;
  color: white;
}

.projectImage {
  height: 196px;
  /*max-height: 195px;*/
  width: 250px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: inline-block;
  overflow: hidden;
  border-left: 2px solid green;

}

.projectImage img{
  max-height: 100%;
}

.projectInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  /*padding: 0 15px;*/
  text-align: center;
}

.projectDescription {
  text-align: left;
  font-family: sans-serif;
  display: flex;
  width: 100%;
  margin-right: 100px;
  height: 100%;
}

.projectDescription p{
  display: inline-block;
  flex-basis: 60%;
  padding: 20px;
}

.projectDescription ul{
  display: inline-block;
  flex-basis: 20%;
}

.projectCategory {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

h4 {
  display: inline-block;
  margin: 5px;
  text-decoration: none;
}

.roles {
  padding: 20px;
  border-left: 1px solid grey;
}

.roles h4{
  margin: 0;
}

.roles ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
