.content-container {
  margin: 40px 100px;
}

.myProjects{
  margin: 0 10%;
}

.myProjects h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif!important;
  font-weight: 300;
  margin-bottom: 0;
  padding: 5px 0;
}
