.myProjects{
  margin: 0 10%;
}

.myProjects h2 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif!important;
  font-weight: 300;
  background: green;
  color: white;
  margin-bottom: 0!important;
  padding: 5px 0;
}